body{
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather',serif;
    background: #d6f0f3;
}
.programmer{
    margin-top: 50px,0,auto,0;
    color: #66bfbf;
    font-weight: normal;
}
h1{
    font-size: 70px;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    color: #66bfbf;
    line-height: 2;
}
h2{
 
    font-family: 'Montserrat',sans-serif;
}
h3{
    font-family: 'Montserrat',sans-serif;
    color: #11999e;
    text-align: center;

}
.top-cloud{
    position: relative;
    right: 300px;
    left: 50px;
}
.middle-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-container{
    background-color: #d4f2f7;
    position: relative;
    padding-top: 100px;
}
.middle-container{
 

}
.swagnik{
    
    border-radius: 120px;
    

}
.chilli{
    border-radius: 120px;
    height: 200px;
    float: left;
    margin: 0 5% auto 0;

}
.skill{
    border-radius: 200px;
    height: 200px;
    float: left;
}
.skill-row{
    line-height: 2;
    margin-left: 3%;
}
.coding{
    float: right;
    margin-right: 30px;
    padding: 3%;
}
  

    
    
  
  .btn {
    background: #6aebeb;
    background-image: -webkit-linear-gradient(top, #6aebeb, #2e6661);
    background-image: -moz-linear-gradient(top, #6aebeb, #2e6661);
    background-image: -ms-linear-gradient(top, #6aebeb, #2e6661);
    background-image: -o-linear-gradient(top, #6aebeb, #2e6661);
    background-image: linear-gradient(to bottom, #6aebeb, #2e6661);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Georgia;
    color: #d91c15;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #0e99f0;
    background-image: -webkit-linear-gradient(top, #0e99f0, #ed9c9c);
    background-image: -moz-linear-gradient(top, #0e99f0, #ed9c9c);
    background-image: -ms-linear-gradient(top, #0e99f0, #ed9c9c);
    background-image: -o-linear-gradient(top, #0e99f0, #ed9c9c);
    background-image: linear-gradient(to bottom, #0e99f0, #ed9c9c);
    text-decoration: none;
  }
  .bottom-container{
    background-color: #60e3e7;
    padding: 20px 0 2px;

  }

  .footer-link{
   color:  #11999E;
 font-family: 'Montserrat', sans-serif;
 margin: 10px 20px;
 text-decoration: none;
}
.footer-link:hover{
    color: rgb(190, 35, 126);
}
.copyright{
    color: #eaf6f6;
    font-size: 0.85rem;
    padding: 20px 0px;
}
